discord.py==2.4.0
python-dotenv==1.0.1
requests==2.31.0
beautifulsoup4==4.12.2
scrapy==2.11.0
pythainlp==4.0.2
jmespath==1.0.1
httpx==0.25.2
langdetect==1.0.9
dateparser==1.1.8
urllib3==2.0.7
SQLAlchemy==2.0.31
sqlalchemy-orm==1.2.10
mysql-connector-python==8.0.28